/* hamburger.css */
@media (max-width: 768px) {
    #container {
        flex-direction: column;
        align-items: left;
    }

    #menu {
        flex-direction: column;
        width: 100%;
        display: none; /* Initially hide the menu */
    }

    .hamburger {
        background: black;
        color: green;
        border: 1px solid green;
        padding: 0.5em;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
    }

    .hamburger:focus + #menu,
    .hamburger:hover + #menu,
    #menu:hover {
        display: flex; /* Show the menu when hamburger is hovered or focused */
    }

    #branchTitleContainer, #wordCounter {
        position: static;
        margin-top: 2em;
    }

    #directoryTree {
        order: 1; /* Reorder to show under the menu */
        width: 100%;
        position: static;
    }

    #menu button, #menu input[type=range], #menu label {
        display: none; /* Hide all menu items initially */
    }

    #menu button:nth-last-child(-n+3), #menu div { /* Last three buttons and the volume control */
        display: block; /* Only display these in the hamburger menu */
    }
}
